<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Webrelais</title>
    <link rel="stylesheet" href="/css/webrelais.css" />
  </head>
  <body>
    <h1>Webrelais</h1>
    <%= styled_flash(:status) %>
    <%= yield %>
  </body>
</html>
