#flash_status{
  color:#FF0000;
}

#flash_zahl{
  color:#FF0000;
}

/* most of the CSS from http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/ */
body {
  margin: 0;
  padding: 0;
  background: #EEE;
  font: 10px/13px 'Lucida Sans',sans-serif;
}
.wrap {
  overflow: hidden;
  margin: 10px;
}
.box {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}
.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.boxInner img {
  width: 100%;
}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
  margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
  /* Smartphone view: 1 tile */
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media only screen and (max-width : 1050px) and (min-width : 481px) {
  /* Tablet view: 2 tiles */
  .box {
    width: 25%;
    padding-bottom: 25%;
  }
}

/* from http://www.scriptol.com/html5/button.php */
.button, .button:visited 
{
  color: #fff; 
  text-decoration: none;
  border-radius: 6px;  
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  border-right: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-family:Calibri, Arial;
  margin-left:4px;
  font-size: 16px; 
  padding: 1px 8px 3px 8px; 
  width: 100px;
  height: 100px;
}
.button:active
{
  top: 1px;
  left:1px; 
}
.gray.button, .gray.button:visited
{
  background-color:#CCCCCC;
  box-shadow: inset 1px 1px 2px 0 rgba(255,255,255,0.6), 
  inset -1px -1px 1px 0 rgba(100,120,140,0.6),
   1px 2px 4px 0 rgba(0,0,0,0.6);
  color:#333; 
  border-left:1px solid #999; 
  border-top:1px solid #999; 
  text-shadow:none; 
}
.gray.button:hover
{
  background-color:#999;
  color:#111;
} 
.blue.button, .blue.button:visited
{
  background-color:#0000CC;
  box-shadow: inset 1px 1px 2px 0 rgba(255,255,255,0.6), 
  inset -1px -1px 1px 0 rgba(100,120,140,0.6),
   1px 2px 4px 0 rgba(0,0,0,0.6);
  color:#ffffff; 
  border-left:1px solid #999; 
  border-top:1px solid #999; 
  text-shadow:none; 
}
.blue.button:hover
{
  background-color:#999;
  color:#111;
} 
